
/*

Estilo para pagina de consultas

*/

body {

    position: relative;
    top: 150px;
    background-color: #292728;
    align-content: center;
}

.container:nth-child(1)
{
    color: #fff;
    max-width: 650px;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}



.container:nth-child(2) {
  
   
   max-width: 650px;
   background-color: #fff;
   border-radius: 3px;
   border-bottom: 5px solid rgb(115, 115, 116);
   padding: 20px;
 }

 .row {

    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
 }

.row:nth-child(1) {
   
   display: flex;
   justify-content: center;
   align-items: baseline;
   border-top: 1px solid rgb(190, 190, 190);
   padding-top: 40px;
 }

.form-title {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  text-align: center;
}

#btnConsultar {

    background-color: rgb(40, 132, 194);
    border: none;
    border-bottom: 4px solid rgb(27, 77, 119);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0px;

 }

 #btnConsultar:hover {

    background-color: rgb(52, 183, 223);
    border-bottom: 4px solid rgb(62, 95, 145);

 }

